In [32]:
import numpy as np
import pandas as pd

In [33]:
persons_data = np.load('./person_prep_data_1.npy')

In [34]:
a = 57

In [35]:
persons_data[a]

array([[[1.    , 1.    , 1.    ],
        [0.6667, 1.    , 2.    ],
        [2.    , 2.5   , 3.    ],
        [0.3333, 0.4   , 0.5   ]],

       [[0.5   , 1.    , 1.5   ],
        [1.    , 1.    , 1.    ],
        [0.5   , 1.    , 1.5   ],
        [2.    , 2.5   , 3.    ]],

       [[0.3333, 0.4   , 0.5   ],
        [0.6667, 1.    , 2.    ],
        [1.    , 1.    , 1.    ],
        [0.3333, 0.4   , 0.5   ]],

       [[2.    , 2.5   , 3.    ],
        [0.3333, 0.4   , 0.5   ],
        [2.    , 2.5   , 3.    ],
        [1.    , 1.    , 1.    ]]])

In [36]:
data = persons_data[a][0]
for i in range(1,4):
    data+=persons_data[a][i]
data

array([[3.8333, 4.9   , 6.    ],
       [2.6667, 3.4   , 5.5   ],
       [5.5   , 7.    , 8.5   ],
       [3.6666, 4.3   , 5.    ]])

In [37]:
pandas_alldc = pd.DataFrame(data)
pandas_alldc.index = ['A','B','C','D']
pandas_alldc.columns = ['L','M','U']

In [38]:
pandas_alldc

        L    M    U
A  3.8333  4.9  6.0
B  2.6667  3.4  5.5
C  5.5000  7.0  8.5
D  3.6666  4.3  5.0

In [39]:
pandas_alldc_data = pandas_alldc.copy()
pandas_alldc_data

        L    M    U
A  3.8333  4.9  6.0
B  2.6667  3.4  5.5
C  5.5000  7.0  8.5
D  3.6666  4.3  5.0

In [40]:
def activate(pandas_alldc):
    pandas_alldc['L'] = pandas_alldc['L']*(1/pandas_alldc['L'].sum())
    pandas_alldc['M'] = pandas_alldc['M']*(1/pandas_alldc['M'].sum())
    pandas_alldc['U'] = pandas_alldc['U']*(1/pandas_alldc['U'].sum())
    return pandas_alldc

pandas_alldc_acitve = activate(pandas_alldc)

In [41]:
pandas_alldc_acitve

          L         M     U
A  0.244680  0.250000  0.24
B  0.170216  0.173469  0.22
C  0.351065  0.357143  0.34
D  0.234039  0.219388  0.20

In [42]:
def row2vector(active_data):
    import numpy as np
    if active_data.size==9:
        s1 = np.array(active_data.iloc[[0]])
        s2 = np.array(active_data.iloc[[1]])
        s3 = np.array(active_data.iloc[[2]])
        return [s1,s2,s3]
    else:
        s1 = np.array(active_data.iloc[[0]])
        s2 = np.array(active_data.iloc[[1]])
        s3 = np.array(active_data.iloc[[2]])
        s4 = np.array(active_data.iloc[[3]])
        return [s1,s2,s3,s4]

In [43]:
def vM2_M1(M2, M1):
    """
    Args:
        M2(l2,m2,u2)
        M1(l1,m1,u1)
    return: V(M2>=M1)
    """
    M1=M1[0]; M2=M2[0]
    if M2[1]>=M1[1]:
        return 1
    elif M1[0]>M2[2]:
        return 0
    else:
        return (M1[0]-M2[2])/( (M2[1]-M2[2]) - (M1[1]-M1[0]) )

In [44]:
def final_data(active_data):
    if active_data.size==9:
        s1, s2 ,s3 = row2vector(active_data)

        s1_s2 = vM2_M1(s1,s2)
        s1_s3 = vM2_M1(s1,s3)
        min_s1 = min(s1_s2,s1_s3)

        s2_s1 = vM2_M1(s2,s1)
        s2_s3 = vM2_M1(s2,s3)
        min_s2 = min(s2_s1, s2_s3)

        s3_s1 = vM2_M1(s3,s1)
        s3_s2 = vM2_M1(s3,s2)
        min_s3 = min(s3_s1,s3_s2)

        final_data_s1 = pd.DataFrame([s1_s2,s1_s3,min_s1], index=['s1>s2', 's1>s3','min_s1'])
        final_data_s2 = pd.DataFrame([s2_s1,s2_s3,min_s2], index=['s2>s1', 's2>s3','min_s2'])
        final_data_s3 = pd.DataFrame([s3_s1,s3_s2,min_s3], index=['s3>s1', 's3>s2','min_s3'])
        return final_data_s1,final_data_s2,final_data_s3
    else:
        s1, s2 ,s3, s4 = row2vector(active_data)

        s1_s2 = vM2_M1(s1,s2)
        s1_s3 = vM2_M1(s1,s3)
        s1_s4 = vM2_M1(s1,s4)
        min_s1 = min(s1_s2,s1_s3,s1_s4)


        s2_s1 = vM2_M1(s2,s1)
        s2_s3 = vM2_M1(s2,s3)
        s2_s4 = vM2_M1(s2,s4)
        min_s2 = min(s2_s1,s2_s3,s2_s4)


        s3_s1 = vM2_M1(s3,s1)
        s3_s2 = vM2_M1(s3,s2)
        s3_s4 = vM2_M1(s3,s4)
        min_s3 = min(s3_s1,s3_s2,s3_s4)


        s4_s1 = vM2_M1(s4,s1)
        s4_s2 = vM2_M1(s4,s2)
        s4_s3 = vM2_M1(s4,s3)
        min_s4 = min(s4_s1,s4_s2,s4_s3)

        final_data_s1 = pd.DataFrame([s1_s2,s1_s3,s1_s4,min_s1], index=['s1>s2', 's1>s3','s1>s4', 'min_s1'])
        final_data_s2 = pd.DataFrame([s2_s1,s2_s3,s2_s4,min_s2], index=['s2>s1', 's2>s3','s2>s4','min_s2'])
        final_data_s3 = pd.DataFrame([s3_s1,s3_s2,s3_s4,min_s3], index=['s3>s1', 's3>s2','s3>s4','min_s3'])
        final_data_s4 = pd.DataFrame([s4_s1,s4_s2,s4_s3,min_s4], index=['s4>s1', 's4>s2','s4>s3','min_s4'])
        return final_data_s1,final_data_s2,final_data_s3,final_data_s4

In [45]:
f1, f2, f3, f4 = final_data(pandas_alldc_acitve)

In [46]:
sum_min = f1.iloc[[2]].values+f2.iloc[[2]].values+f3.iloc[[2]].values+f4.iloc[[2]].values
sum_min_pd = pd.DataFrame(sum_min,index=['sum_min'])

lst = [[int(f1.iloc[[2]].values/sum_min),int(f2.iloc[[2]].values/sum_min),int(f3.iloc[[2]].values/sum_min),int(f4.iloc[[2]].values/sum_min)]]
d_result = pd.DataFrame(lst,index=list('d'))

def multiple_dfs(df_list, sheets, file_name, spaces):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')   
    row = 0
    for dataframe in df_list:
        dataframe.to_excel(writer,sheet_name=sheets,startrow=row , startcol=0)   
        row = row + len(dataframe.index) + spaces + 1
    writer.save()

# list of dataframes
dfs = [pandas_alldc_data,pandas_alldc_acitve,f1,f2,f3,f4, sum_min_pd, d_result]

# run function
multiple_dfs(dfs, 'Validation', f'test_one.xlsx', 1)

C:\Users\amrbe\AppData\Local\Temp\ipykernel_9316\424395707.py:13: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()