In [35]:
import numpy as np
import pandas as pd

In [36]:
# yordamchi funksiyalar
import numpy as np

def add(l1,l2):
    return np.array([l1[0]+l2[0], l1[1]+l2[1], l1[2]+l2[2]])

def prod(l1,l2):
    return np.array([l1[0]*l2[0], l1[1]*l2[1], l1[2]*l2[2]])

def kprod(k,l1):
    return k*np.array(l1)

def compl_arr(l1):
    if 0 not in l1:
        return np.array([1/l1[0], 1/l1[1], 1/l1[2]])
    return

In [37]:
np.ones((4,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [38]:
persons_data = np.load('./person_prep_data_1.npy')

dc1 = np.ones((4,3))
for i in range(100):
    dc1*=persons_data[i][0]**(1/100)

dc2 = np.ones((4,3))
for i in range(100):
    dc2*=persons_data[i][1]**(1/100)

dc3 = np.ones((4,3))
for i in range(100):
    dc3*=persons_data[i][1]**(1/100)

dc4 = np.ones((4,3))
for i in range(100):
    dc4*=persons_data[i][1]**(1/100)

In [39]:
alldc = dc1+dc2+dc3+dc4

In [40]:
pandas_alldc = pd.DataFrame(alldc)
pandas_alldc.index = ['A','B','C','D']
pandas_alldc.columns = ['L','M','U']

In [41]:
pandas_alldc

          L         M         U
A  2.271499  2.597277  3.106160
B  4.417139  4.865224  5.333515
C  3.393582  4.395311  5.653474
D  6.409928  8.015870  9.698919

In [42]:
pandas_alldc_data = pandas_alldc.copy()

In [43]:
df1 = pd.DataFrame(dc1, index = list("ABCD"))
df2 = pd.DataFrame(dc2, index = list("ABCD"))
df3 = pd.DataFrame(dc3, index = list("ABCD"))
df4 = pd.DataFrame(dc4, index = list("ABCD"))
ret_data = [df1,df2,df3,df4]

In [44]:
ret_data

[          0         1         2
 A  1.000000  1.000000  1.000000
 B  1.417139  1.865224  2.333515
 C  1.708187  2.234312  2.742620
 D  1.957575  2.448132  2.940530,
           0         1         2
 A  0.423833  0.532426  0.702053
 B  1.000000  1.000000  1.000000
 C  0.561798  0.720333  0.970285
 D  1.484118  1.855913  2.252796,
           0         1         2
 A  0.423833  0.532426  0.702053
 B  1.000000  1.000000  1.000000
 C  0.561798  0.720333  0.970285
 D  1.484118  1.855913  2.252796,
           0         1         2
 A  0.423833  0.532426  0.702053
 B  1.000000  1.000000  1.000000
 C  0.561798  0.720333  0.970285
 D  1.484118  1.855913  2.252796]

In [45]:
def activate(pandas_alldc):
    pandas_alldc['L'] = pandas_alldc['L']*(1/pandas_alldc['L'].sum())
    pandas_alldc['M'] = pandas_alldc['M']*(1/pandas_alldc['M'].sum())
    pandas_alldc['U'] = pandas_alldc['U']*(1/pandas_alldc['U'].sum())
    return pandas_alldc

pandas_alldc_acitve = activate(pandas_alldc)

In [46]:
pandas_alldc_acitve

          L         M         U
A  0.137732  0.130689  0.130554
B  0.267833  0.244807  0.224172
C  0.205770  0.221162  0.237620
D  0.388665  0.403341  0.407653

In [47]:
def row2vector(active_data):
    import numpy as np
    if active_data.size==9:
        s1 = np.array(active_data.iloc[[0]])
        s2 = np.array(active_data.iloc[[1]])
        s3 = np.array(active_data.iloc[[2]])
        return [s1,s2,s3]
    else:
        s1 = np.array(active_data.iloc[[0]])
        s2 = np.array(active_data.iloc[[1]])
        s3 = np.array(active_data.iloc[[2]])
        s4 = np.array(active_data.iloc[[3]])
        return [s1,s2,s3,s4]

In [48]:
def vM2_M1(M2, M1):
    """
    Args:
        M2(l2,m2,u2)
        M1(l1,m1,u1)
    return: V(M2>=M1)
    """
    M1=M1[0]; M2=M2[0]
    if M2[1]>=M1[1]:
        return 1
    # elif M1[0]>M2[2]:
    #     return 0
    else:
        return (M1[0]-M2[2])/( (M2[1]-M2[2]) - (M1[1]-M1[0]) )

In [49]:
def final_data(active_data):
    if active_data.size==9:
        s1, s2 ,s3 = row2vector(active_data)

        s1_s2 = vM2_M1(s1,s2)
        s1_s3 = vM2_M1(s1,s3)
        min_s1 = min(s1_s2,s1_s3)

        s2_s1 = vM2_M1(s2,s1)
        s2_s3 = vM2_M1(s2,s3)
        min_s2 = min(s2_s1, s2_s3)

        s3_s1 = vM2_M1(s3,s1)
        s3_s2 = vM2_M1(s3,s2)
        min_s3 = min(s3_s1,s3_s2)

        final_data_s1 = pd.DataFrame([s1_s2,s1_s3,min_s1], index=['s1>s2', 's1>s3','min_s1'])
        final_data_s2 = pd.DataFrame([s2_s1,s2_s3,min_s2], index=['s2>s1', 's2>s3','min_s2'])
        final_data_s3 = pd.DataFrame([s3_s1,s3_s2,min_s3], index=['s3>s1', 's3>s2','min_s3'])
        return final_data_s1,final_data_s2,final_data_s3
    else:
        s1, s2 ,s3, s4 = row2vector(active_data)

        s1_s2 = vM2_M1(s1,s2)
        s1_s3 = vM2_M1(s1,s3)
        s1_s4 = vM2_M1(s1,s4)
        min_s1 = min(s1_s2,s1_s3,s1_s4)


        s2_s1 = vM2_M1(s2,s1)
        s2_s3 = vM2_M1(s2,s3)
        s2_s4 = vM2_M1(s2,s4)
        min_s2 = min(s2_s1,s2_s3,s2_s4)


        s3_s1 = vM2_M1(s3,s1)
        s3_s2 = vM2_M1(s3,s2)
        s3_s4 = vM2_M1(s3,s4)
        min_s3 = min(s3_s1,s3_s2,s3_s4)


        s4_s1 = vM2_M1(s4,s1)
        s4_s2 = vM2_M1(s4,s2)
        s4_s3 = vM2_M1(s4,s3)
        min_s4 = min(s4_s1,s4_s2,s4_s3)

        final_data_s1 = pd.DataFrame([s1_s2,s1_s3,s1_s4,min_s1], index=['s1>s2', 's1>s3','s1>s4', 'min_s1'])
        final_data_s2 = pd.DataFrame([s2_s1,s2_s3,s2_s4,min_s2], index=['s2>s1', 's2>s3','s2>s4','min_s2'])
        final_data_s3 = pd.DataFrame([s3_s1,s3_s2,s3_s4,min_s3], index=['s3>s1', 's3>s2','s3>s4','min_s3'])
        final_data_s4 = pd.DataFrame([s4_s1,s4_s2,s4_s3,min_s4], index=['s4>s1', 's4>s2','s4>s3','min_s4'])
        return final_data_s1,final_data_s2,final_data_s3,final_data_s4

In [50]:
f1, f2, f3, f4 = final_data(pandas_alldc_acitve)

In [51]:
sum_min = f1.iloc[[2]].values+f2.iloc[[2]].values+f3.iloc[[2]].values+f4.iloc[[2]].values
sum_min_pd = pd.DataFrame(sum_min,index=['sum_min'])

lst = [[int(f1.iloc[[2]].values/sum_min),int(f2.iloc[[2]].values/sum_min),int(f3.iloc[[2]].values/sum_min),int(f4.iloc[[2]].values/sum_min)]]
d_result = pd.DataFrame(lst,index=list('d'))

def multiple_dfs(df_list, sheets, file_name, spaces):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')   
    row = 0
    for dataframe in df_list:
        dataframe.to_excel(writer,sheet_name=sheets,startrow=row , startcol=0)   
        row = row + len(dataframe.index) + spaces + 1
    writer.save()

# list of dataframes
dfs = [ret_data[0],ret_data[1],ret_data[2],ret_data[3], pandas_alldc_data,pandas_alldc_acitve,f1,f2,f3,f4, sum_min_pd, d_result]

# run function
multiple_dfs(dfs, 'Validation', f'test1.xlsx', 1)

C:\Users\amrbe\AppData\Local\Temp\ipykernel_5896\1365917040.py:13: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()